$button-sizes: (
  sm: (
    padding: 0.3rem 0.8rem,
    font-size: 0.8rem,
  ),
  md: (
    padding: 0.5rem 1rem,
    font-size: 1rem,
  ),
  lg: (
    padding: 0.6rem 1.2rem,
    font-size: 1.2rem,
  ),
);
